:host {
  display: block;
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

// Keyframe for drawing SVG line path effects
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-dash-draw {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 3s linear infinite;
}

// Fade In
.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Slide Down Accordion
.animate-slide-down {
  animation: slideDown 0.25s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}
